.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.formContent {
  width: 40%;
  margin: 1em auto;
  background-color: white;
  padding: 2.5em;
  border-radius: 1em;
}

.title {
  margin: 0em 0 1.5em 0;
}

.input34 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
