.container {
  width: 60%;
  margin: auto;
  padding: 0.5em;
}

.add_new_btn {
  width: 100%;
  padding: 1em;
  border-radius: 0.4em;
  margin-top: 3em;
  cursor: pointer;
  background-color: white;
  border: 1.5px solid var(--black);
}

.add_new_btn:hover {
  opacity: 0.6;
}

.info_cards {
  width: 100%;
}

.info_card_body {
  padding: 1em 2.5em;
  border: 1px solid var(--darkGrey);
  border-top: 0px;
}

.info_1 {
  margin: 0.7em 0;
}

.info_2 {
  margin: 0.7em 0;
}

.info_1_label {
  margin: 0.5em 0;
}

.info_2_label {
  margin: 1.5em 0 0.7em 0;
}

.info_card_opts {
  display: flex;
  justify-content: flex-start;
  margin: 1.5em 0 1em 0;
}
