.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 1.5em;
  padding-right: 0.5em;
  border-bottom: 1px solid var(--borderGrey);
}

.title {
  color: var(--blue);
  display: flex;
  align-items: center;
}

.task {
  display: flex;
}

.fileInputBox {
  display: none;
}

.importLabel {
    padding: 0.5em 0.8em;
    border-radius: 0.4em;
    margin: 0 2em 0 0;
    cursor: pointer;
    border: 1.4px solid var(--slowBlack);
    background-color: var(--white);
    color: var(--black);
}

.importLabel:hover {
  opacity: 0.6;
}

.exportLabel {
  padding: 0.5em 0.8em;
  border-radius: 0.4em;
  margin: 0 2em 0 0;
  cursor: pointer;
  border: 1.4px solid var(--red);
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
}

.exportLabel:hover {
opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .header {
    justify-content: center;
  }

  .title {
    margin-bottom: 1em;
  }
}
