.container {
  width: 60%;
  margin: auto;
  padding: 0.5em;
}

.addNewBtn {
  width: 100%;
  padding: 1em;
  border-radius: 0.4em;
  margin-top: 3em;
  cursor: pointer;
  background-color: white;
  border: 1.5px solid var(--black);
}

.addNewBtn:hover {
  opacity: 0.6;
}

.infoCards {
  min-height: 20em;
}
