.inputField {
  margin: 0.5em 0 1.2em 0;
}

.inputBox {
  border: 1px solid var(--darkGrey);
  border-radius: 4px;
  font-size: 1.2em;
  margin-top: 0.5em;
  padding: 0.5em;
  resize: none;
}

.inputBox:focus {
  outline: none;
  border: 1px solid var(--borderGrey);
}

.inputLabel {
  font-size: 0.875em;
  font-weight: 600;
}

.inputBox,
.inputLabel {
  display: block;
}

@media screen and (max-width: 1419px) {
  .inputField {
    width: 100%;
  }
}
