.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  border-bottom: 1px solid var(--borderGrey);
}

.title {
  color: var(--blue);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .header {
    justify-content: center;
  }

  .title {
    margin-bottom: 1em;
  }
}
