* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir-Next';
  src: url("assets/Fonts/Avenir\ Next\ Font.ttf");
}

body {
  font-family: 'Avenir-Next', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

:root {
  --black: #222222;
  --slowBlack: #2B2B2B;
  --mediumBlack: #717171;
  --white: #ffffff;
  --blue: #5050C5;
  --grey: #F9F9F9;
  --red: #D33852;
  --darkGrey: #EBEBEB;
  --borderGrey: #D9D9D9;
  --teal: #008392;
}